/*Utility classes*/
.fjc-sb {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.fjc-fs {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

/*Dummy Admin Blog page*/
/*Dummy Admin Single Category page*/

.dummyadmin .page-header {
    padding: 0 !important;
    position: relative;
    margin-bottom: 40px;
}

.dummyadmin .page-header img{
    width: 100%;
}

.dummyadmin .page-header h1 {
    position: absolute;
    display: inline-block;
    position: absolute;
    background: rgba(0, 0, 0,  .5);
    padding: 15px;
    bottom: 0;
    min-width: 320px;
    color: #fff;
    font-weight: bold;
}

.dummyadmin .page-content {
    padding-top: 40px;
}

.dummyadmin .category-row {
    padding: 15px 0;
}

.dummyadmin .cat-title h1,
.dummyadmin .cat-title h2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 35px;
    color: #3399cc;
    border-bottom: 1px solid #3399cc;
}

.dummyadmin .cat-title h2 {
    font-weight: bold;
    color: #3399cc;
}

.dummyadmin .category-row .cat-title h2 a:hover {
    text-decoration: none;
    opacity: .8;
}

.dummyadmin .category-row .cat-posts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
//justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dummyadmin .category-row .cat-posts .post {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.dummyadmin .category-row .cat-posts.fjc-fs .post {
    margin-right: 15px;
}

.dummyadmin .category-row .cat-posts .post h3 {
    font-weight: bold;
    padding: 15px;
    background: #fafafa;
    margin-bottom: 0;
}

.dummyadmin .category-row .cat-posts .post h3 a  {
    color: #424242;
}

.dummyadmin .category-row .cat-posts .post .post-img{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 380px;
}

.dummyadmin .category-row .cat-posts .post .post-img img{
    width: 100%;
}

.dummyadmin .category-row .cat-posts .post .post-excerpt {
    padding: 15px;
    line-height: 1.7;
    background: #fafafa;
}

.dummyadmin .category-row .cat-posts .post .post-excerpt .read-more {
    display: inline-block;
    background: #3399cc;
    color: #fff;
    padding: 5px 20px;
    margin-top: 15px;
}

.dummyadmin .category-row .cat-posts .post .post-excerpt .read-more:hover {
    opacity: .8;
}

@media (min-width: 768px) {

    .dummyadmin .category-row .cat-posts .post {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 30%;
        -moz-box-flex: 0;
        -ms-flex: 0 1 30%;
        flex: 0 1 30%;
    }

    .dummyadmin .category-row .cat-posts .post .post-img{
        width: 225px;
    }
}

@media (min-width: 992px) {

    .dummyadmin .category-row .cat-posts .post .post-img{
        width: 280px;
    }
}

@media (min-width: 1200px) {

    .dummyadmin .category-row .cat-posts .post .post-img{
        width: 370px;
    }
}

/*Dummy Admin Single Post page*/

.magecomm-dummyadmin-index-post-view .dummyadmin .post-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.magecomm-dummyadmin-index-post-view .dummyadmin .post-content .post-img {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}

.magecomm-dummyadmin-index-post-view .dummyadmin .post-content .post-img img{
    width: 100%;
}

.magecomm-dummyadmin-index-post-view .dummyadmin .post-content .post-text {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}

@media(min-width: 768px) {

    .magecomm-dummyadmin-index-post-view .dummyadmin .post-content .post-img {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 30%;
        -moz-box-flex: 1;
        -ms-flex: 1 1 30%;
        flex: 1 1 30%;
    }

    .magecomm-dummyadmin-index-post-view .dummyadmin .post-content .post-text {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 60%;
        -moz-box-flex: 1;
        -ms-flex: 1 1 60%;
        flex: 1 1 60%;
        margin-top: 20px;
    }
}