<config>

    <modules>
        <Magecomm_Dummyadmin>
            <version>0.1.0</version>
        </Magecomm_Dummyadmin>
    </modules>

    <global>
        <helpers>
            <magecomm_dummyadmin>
                <class>Magecomm_Dummyadmin_Helper</class>
            </magecomm_dummyadmin>
        </helpers>
        <blocks>
            <magecomm_dummyadmin>
                <class>Magecomm_Dummyadmin_Block</class>
            </magecomm_dummyadmin>
        </blocks>
        <models>
            <magecomm_dummyadmin>
                <class>Magecomm_Dummyadmin_Model</class>
                <resourceModel>magecomm_dummyadmin_resource</resourceModel>
            </magecomm_dummyadmin>
            <magecomm_dummyadmin_resource>
                <class>Magecomm_Dummyadmin_Model_Resource</class>
                <entities>
                    <magecomm_dummyadmin_categories>
                        <table>magecomm_dummyadmin_categories</table>
                    </magecomm_dummyadmin_categories>
                    <magecomm_dummyadmin_posts>
                        <table>magecomm_dummyadmin_posts</table>
                    </magecomm_dummyadmin_posts>
                </entities>
            </magecomm_dummyadmin_resource>
        </models>
        <resources>
            <magecomm_dummyadmin_setup>
                <setup>
                    <module>Magecomm_Dummyadmin</module>
                </setup>
            </magecomm_dummyadmin_setup>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <dummyadmin>
                        <type>singleton</type>
                        <class>Magecomm_Dummyadmin_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </dummyadmin>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magecomm_Dummyadmin before="-">Magecomm_Dummyadmin_Adminhtml</Magecomm_Dummyadmin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <magecomm_dummyadmin  module="Magecomm_Dummyadmin">
                    <file>magecomm/dummyadmin.xml</file>
                </magecomm_dummyadmin>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <routers>
            <magecomm_dummyadmin>
                <use>standard</use>
                <args>
                    <module>Magecomm_Dummyadmin</module>
                    <frontName>dummyadmin</frontName>
                </args>
            </magecomm_dummyadmin>
        </routers>
        <layout>
            <updates>
                <magecomm_dummyadmin>
                    <file>magecomm/dummyadmin.xml</file>
                </magecomm_dummyadmin>
            </updates>
        </layout>
    </frontend>

    <default>
        <dummyadmin>
            <settings>
                <router>dummyadmino</router>
                <name>RTA Cabinets Resource Center - The RTA Store</name>
                <meta_title>Dummyadmin Blog page</meta_title>
                <!--<meta_description>Dummyadmin Blog with single post, category posts, and main recent post by categories pages</meta_description>-->
                <meta_image>dummyadmin-blog.jpg</meta_image>
                <items_per_page>60</items_per_page>
            </settings>
        </dummyadmin>
    </default>


</config>
